<template>
    <button class="btn btn-success" @click="checked">
        <i class="fas fa-check"></i>
    </button>
</template>

<script>
import Axios from 'axios'
import { api } from '../services/helper'
import { storeError, successAlert } from '../services/alert'
export default {
    props: ['id'],

    methods: {
        checked() {
            Axios.patch(api('/requests/' + this.id + '/checked'))
                .then(response => {
                    document.getElementById('request-' + this.id).remove()
                    successAlert(200)
                })
                .catch(e => {
                    storeError(500)
                })
        }
    }
}
</script>