<template>
  <div>
    <swiper 
      :options="{ slidesPerView: 3, loop: true, navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }}">
      <swiper-slide v-for="(itemGallery, index) in items" :key="`gallery-item-${index}`">
      <div class="isotope-item creative corporate" @click="showLightBox(index)">
          <div class="gallery-thumb">
              <img class="img-responsive img-whp" :src="itemGallery.file" :alt="itemGallery.title" />
              <div class="overlayer">
                  <div class="lbox-caption">
                      <div class="lbox-details">
                          <h5>{{ itemGallery.title }}</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
    </swiper>

    <light-box
        ref="lightbox"
        :media="media"
        :show-caption="false"
        :show-light-box="false">
    </light-box>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array
    }
  },

  computed: {
    media() {
      const items = []
      for (const item of this.items) {
        if (item.type == 'IMAGE') {
          items.push({
            type: 'image',
            thumb: item.file,
            src: item.path,
            caption: item.title
          })
        }

        if (item.type == 'VIDEO') {
          items.push({
            type: 'video',
            thumb: item.file,
            sources: [
              {
                src: item.path,
                type: 'video/mp4'
              }
            ],
            caption: item.title
          })
        }
      }

      return items
    }
  },

  methods: {
    showLightBox(index) {
      this.$refs.lightbox.showImage(index)
    }
  }
}
</script>