<template>
  <draggable class="list-group" tag="ul" :list="tasks" :group="{ name: 'g1' }">
    <!-- <transition-group type="transition" name="flip-list"> -->
        <li v-for="el in tasks" :key="el.id" class="list-group-item pb-0 mb-2">
            <div class="d-flex justify-content-between">
                <input type="text" v-if="edit == el.id" class="form-control" v-model="el.title">
                <span class="text-right title" v-else>{{ el.title }}</span>

                <span class="d-inline-block" v-if="el.id != edit">
                  <button class="btn btn-sm bg-transparent text-warning" @click="edit = el.id">
                      <i class="fa fa-edit"></i>
                  </button>

                  <button class="btn btn-sm bg-transparent text-danger mr-3" @click="deleteItem(el.id)" >
                      <i class="fa fa-trash-alt"></i>
                  </button>
                </span>
                <span class="d-inline-block" v-else>
                  <button class="btn btn-sm bg-transparent text-success" @click="edit = null">
                    <i class="fa fa-check"></i>
                  </button>
                </span>
            </div>

            <nested-draggable :tasks="el.childs"/>
        </li>
    <!-- </transition-group> -->
  </draggable>
</template>

<script>
import draggable from "vuedraggable";

export default {
  props: {
    tasks: {
      required: true,
      type: Array
    }
  },

  data(){
      return{
          edit: null
      }
  },
  
  components: {
    draggable
  },

  methods:{
      setName(val){
          console.log();
          
      },

      deleteItem(id){
        let i = this.tasks.findIndex( task => ( task.id == id ));

        i > -1 ? this.tasks.splice(i, 1) : null;
      }
  }
  
};
</script>
<style scoped>

.list-group{
  padding: 3px;
  border: 1px solid #000;
}

.list-group-item{
    border: none;
    padding: 1rem;
    padding-left: 0;
}


.title{
  cursor: pointer !important;
}
</style>