<template>
    <div class="container bg-white p-3">
        <div class="row">
            <div class="col-md-3" v-if="!onProcess">
                <div class="form-group text-right">
                    <label for="lang">زبان</label>
                    <select id="lang" v-model="selectedLang" class="custom-select">
                        <option value="fa">فارسی</option>
                        <option value="ar">عربی</option>
                        <option value="en">انگلیسی</option>
                    </select>
                </div>

                <div class="form-group text-right">
                    <label for="type">نوع</label>
                    <select id="type" class="custom-select" v-model="selectedType">
                        <option value="conditions">بیماری</option>
                        <option value="treatments">راه درمان</option>
                        <option value="threads">مجله زیبایی</option>
                    </select>
                </div>

                <input type="submit" class="btn btn-primary btn-sm" value="جستجو" @click="fetchMenu">
            </div>
            <div class="col-md-3" v-else>
                <div v-if="selectedType == 'threads'">
                    کانال‌ها
                    <div v-if="items.length">
                        <div class="custom-control custom-radio" v-for="(item, index) in items" :key="'channel-'+index">
                            <input type="radio" :id="'customRadio1'+index" :value="item.id" class="custom-control-input" v-model="selectedChannel">
                            <label class="custom-control-label" :for="'customRadio1'+index">{{ item.name }}</label>
                        </div>
                    </div>
                    <div v-else class="alert alert-warning">
                        کانالی ایجاد نشده است
                    </div>

                    <div class="form-group" v-if="channelItems.length">
                        <label for="thread">انتخاب پست</label>
                        <vue-select :options="channelItems" label="title" :reduce="channelItems => channelItems.id" v-model="selectedItem"></vue-select>
                    </div>
                </div>
                <div v-else>
                    <label class="text-right">جستجو</label>
                    <vue-select :options="items" label="name" :reduce="items => items.id" v-model="selected"></vue-select>
                </div>
            </div>

            <div class="col-md-9">
                <input type="submit" class="btn btn-sm btn-primary" value="ذخیره" @click="store">
                <nested-draggable :tasks="menu"/>
            </div>
        </div>
    </div>
</template>


<script>
import Axios from 'axios';
import { api } from '../services/helper';
import { storeError } from '../services/alert'
import VueSelect from 'vue-select';
import NestedDraggable from '../components/NestedDraggable';
import findIndex from 'lodash/findIndex';

export default {
    components: {
        VueSelect, NestedDraggable
    },

    data(){
        return {
            channelItems: [],
            items: [],
            selected: null,
            selectedChannel: null,
            selectedItem: null,
            menu:[],
            selectedLang: 'fa',
            selectedType: 'conditions',
            onProcess: false,
        }
    },

    watch:{
        selected(newVal){
            let i = findIndex(this.items, {id: newVal});
            
            if(i > -1)
                this.menu.push({
                    id: newVal,
                    title: this.items[i].name,
                    link: '/' + this.selectedType + '/' + newVal,
                    childs: []
                })
        },

        selectedItem(newVal) {
            let i = findIndex(this.channelItems, {id: newVal});
            
            if(i > -1)
                this.menu.push({
                    id: newVal,
                    title: this.channelItems[i].title,
                    link:  '/' + this.selectedType +'/' + this.selectedChannel + '/' + newVal ,
                    childs: []
                })
        },

        selectedChannel(newVal) {
            let i = findIndex(this.items, {id: newVal});

            Axios.get(api('/channels/' + newVal + '/threads'))
                .then(response => {
                    this.channelItems = response.data.data;
                }).catch(error => {  })

            let menuIndex = findIndex(this.menu, { id: newVal })

            if(i > -1 && menuIndex == -1)
                this.menu.push({
                    id: newVal,
                    title: this.items[i].name,
                    link: '/' + this.selectedType == 'channels' ? 'threads' : this.selectedType + '/' +newVal,
                    childs: []
                })
        }
    },

    computed:{
        endpoint(){
            switch(this.selectedType) {
                case 'conditions':
                    api('/conditions');
                case 'treatments':
                    return api('/treatments');
                case 'threads':
                    return api('/channels')
            }
        }
    },

    methods:{
        fetchMenu(){
            Axios.get(api('/settings/menu'),{
                params:{
                    lang: this.selectedLang,
                    type: this.selectedType
                }
            }).then( response => {
                if(response.data.data.values.length)
                    this.menu = response.data.data.values
            }).catch( error => {  });

            Axios.get(this.endpoint, {
                params: {
                    lang: this.selectedLang
                }
            }).then( response => {
                this.items = response.data.data;
            }).catch( error => {  })

            this.onProcess = true;
        },

        store(){
            Axios.post(api('/settings/menu'),{
                lang: this.selectedLang,
                type: this.selectedType == 'threads' ? 'channels' : this.selectedType,
                menu: this.menu.length ? this.menu : null
            }).then( response => {

            })
            .catch( error => { 
                return storeError()
             })
        }
    }
}
</script>