$fontface: 'Segoe UI';
$sidebar-color: $white;
$theme-color: #2cabe3;
$font-color: #54667a;
$icon-font: 'themify';
$font-size: 14px;
$body-margin-top: 35px;
$body-margin-left: 240px;

@font-face {
  font-family: iran_sans;
  src: url("../fonts/eot/IRANSansWeb_Light.eot") format('embedded-opentype');
  src: url("../fonts/woff/IRANSansWeb_Light.woff") format('woff'),
  url("../fonts/ttf/IRANSansWeb_Light.ttf") format('truetype'),
  url("../fonts/woff2/IRANSansWeb_Light.woff2") format('woff2');
}

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "vue-select/src/scss/vue-select.scss";


body {
    direction: rtl;
    font-family: iran_sans;
    background: #edf1f5;
    font-size: $font-size;
    overflow-x: hidden;
    .wrapper {
        margin-top: $body-margin-top;
    }
}

.img-circle {
    border-radius: 100%;
}

.nav-sidebar {
    a,
    a:focus,
    a:hover {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    a::before {
        font-family: $icon-font;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.theme-color {
    background: $theme-color!important;
}

.navbar {
    padding: 0;
    .menu-toggle-button a {
        padding: 1.1rem 1rem;
        color: #FFF;
    }
    .menu-toggle-button a:hover {
        background: rgba(0, 0, 0, .1);
    }
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    background: $sidebar-color;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    color: #fff;
    transition: all 0.3s;
    z-index: 10;
    
    .sidebar-header {
        padding: 10px;
        background: #2cabe3;
        text-align: center;
    }
    .sidebar-header p {
        color: #FFF;
    }
    ul.components {
        padding: 20px 0;
    }
    ul p {
        color: #fff;
        padding: 10px;
    }
    ul li a {
        padding: 10px;
        display: block;
        color: $font-color;
        padding: 15px 20px 15px 35px;
    }
    li a[aria-expanded="true"],
    ul li a:hover {
        background: rgba(0, 0, 0, 0.07);
    }
    ul li.active>a {
        color: #fff;
        background: $theme-color;
        font-weight: 500;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    li a[aria-expanded="false"]::before,
    li a[aria-expanded="true"]::before {
        font-family: "Font Awesome 5 Free";
        content: '\f104';
        font-size: 14px !important;
        font-weight: 900;
        display: block;
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 0.6em;
    }
    li a[aria-expanded="true"]::before {
        content: '\f107';
    }
    ul ul a {
        font-size: 0.9em !important;
        padding-right: 30px !important;
    }
}

#sidebar.active {
    margin-right: -250px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    .nav-sidebar {
        position: absolute;
        z-index: 1;
    }
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.user-profile {
    padding: 0 0 15px;
    position: relative;
    text-align: center;
    .user-pro-body {
        display: block;
        img {
            width: 50px;
            display: block;
            margin: 0 auto 10px;
        }
        .u-dropdown {
            color: #97999f;
        }
        .dropdown-menu {
            right: 0;
            width: 80%;
            left: 0;
            margin: 0 auto;
            transform: none!important;
            top: 85px!important;
            li {
                a {
                    padding-right: 5px!important;
                    padding-left: 10px!important;
                    padding-top: 10px!important;
                    padding: 10px!important;
                }
            }
        }
    }
}

.navbar-top-links {
    .profile-pic {
        color: #FFF;
        text-decoration: none;
        padding: 0 12px;
    }
    .dropdown-menu {
        li {
            display: block;
            &:last-child {
                margin-left: 0;
            }
            a {
                display: block;
                padding: 9px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                &:hover {
                    background: #f7fafc;
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-user {
        left: 0;
        right: auto;
        position: absolute;
        width: 280px;
        margin-top: 10px;
    }
    .dw-user-box {
        padding: 15px;
        .u-img {
            width: 70px;
            display: inline-block;
            vertical-align: top;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        .u-text {
            display: inline-block;
            padding-right: 10px;
            h4 {
                margin: 0;
            }
            p {
                margin-bottom: 3px;
            }
            .btn-danger {
                background: #f33155;
                opacity: .8;
                border-radius: 60px;
                border: 1px solid #f33155;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                color: $white;
            }
        }
    }
}

.card-login {
    max-width: 25rem;
}

.content-area {
    margin-top: 15px;
}

.content-area .panel {
    background: #FFF;
    padding: 25px;
}

.top-inner-navbar {
    min-height: 57px;
}

.text-decoration-none {
    &:hover {
        text-decoration: none;
    }
}

.table{
    img{
        height: 64px;
        width: 64px;
        object-fit: contain;  
    }
}

.custom-file-input:lang(en) ~ .custom-file-label::after{
    content: 'انتخاب کنید';
}