.input-group > .form-control:not(:first-child),
 .input-group > .custom-select:not(:first-child){
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > 
.input-group-text, .input-group > 
.input-group-append:not(:last-child) > .btn,
 .input-group > .input-group-append:not(:last-child) > .input-group-text, 
 .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), 
 .input-group > .input-group-append:last-child > .input-group-text:not(:last-child){
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
 }