// Bootstrap
$fa-font-path: "../fonts";
@import './variables';
@import 'vendors/fonts';
@import 'vendors/header';
@import 'vendors/utilities';
@import '~vue-it-bigger/dist/vue-it-bigger.min.css';

html[lang="fa"]{
    *:not(i){
        font-family: IranSansUltrLight !important;
    }

    body{
        font-family: IranSansUltrLight !important;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: IranSansLight !important;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li a{
        font-family: IranSansLight !important;
    }
}

html[lang="ar"]{
    *:not(i){
        font-family: Iran !important;
    }

    body{
        font-family: Iran !important;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: IranBold !important;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li a{
        font-family: Iran;
    }
}

.language-fa {
    font-family: IranSans !important;
}

.language-ar {
    font-family: Iran !important;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fixed-button{
    position: fixed !important;
    z-index: 9999999;
    bottom: 32px;
    left: 32px;
    background-color: $green;
    border-radius: 45px;
    width: 64px;
    height: 64px;
    color: $body-bg !important;

    &:hover{
        color: $body-bg;
    }

    i{
        position: relative;
        top: 3px;
        text-align: center;
    }
}

.text-primary {
    color: $primary !important;
}

.ulockd-frst-divider {
    h3 {
        margin-top: 0 !important;
    }

    &::before {
        background-color: $primary !important;
    }
}